.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem 0;
}

main, .left-side,
.right-side {
    flex: 1;
}

@media (max-width: 990px) {
    .container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 100%;
        padding: 0.8rem 0.5rem;
        gap: 0.8rem;
        box-sizing: border-box;
    }

    .left-side,
    .right-side {
        width: 100%;
    }

    .left-side .card, .right-side .card {
        margin-bottom: 0.5rem;
    }
    header {
        align-items: center;
    }
}

#spinner {
    color: black;
}