.page-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
    box-sizing: border-box;
    width: 100%;
}

.background {
    background-color: rgb(224, 228, 230);
}

.row {
    width: 100%;
}

.col-md-6 {
    flex: 1 1 45%;
    min-width: 300px;
}

@media (max-width: 768px) {
    .page-container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
    }

    .col-md-6 {
        padding: 0;
    }
}

@media (max-width: 480px) {
    header nav{
        display: none;
    }
}

#spinner {
    color: black;
}

.main-text {
    text-align: center;
    font-size: 1.2rem;

    -webkit-font-smoothing: antialiased;
    text-transform: capitalize;
    user-select: none;
    text-align: center;
    color: #ffffff;
    text-shadow: rgb(2, 35, 48)3px 0px 0px,rgb(2, 35, 48)2.83487px .981584px 0px,rgb(2, 35, 48)2.35766px 1.85511px 0px,rgb(2, 35, 48)1.62091px 2.52441px 0px,rgb(2, 35, 48).705713px 2.91581px 0px,rgb(2, 35, 48)-.287171px 2.98622px 0px,rgb(2, 35, 48)-1.24844px 2.72789px 0px,rgb(2, 35, 48)-2.07227px 2.16926px 0px,rgb(2, 35, 48)-2.66798px 1.37182px 0px,rgb(2, 35, 48)-2.96998px .42336px 0px,rgb(2, 35, 48)-2.94502px -.571704px 0px,rgb(2, 35, 48)-2.59586px -1.50383px 0px,rgb(2, 35, 48)-1.96093px -2.27041px 0px,rgb(2, 35, 48)-1.11013px -2.78704px 0px,rgb(2, 35, 48)-.137119px -2.99686px 0px,rgb(2, 35, 48).850987px -2.87677px 0px,rgb(2, 35, 48)1.74541px -2.43999px 0px,rgb(2, 35, 48)2.44769px -1.73459px 0px,rgb(2, 35, 48)2.88051px -.838247px 0px;
}