.button-30 {
    margin: 0;
    display: flex;
    flex-direction: column;
    border-radius: 0.4rem;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.364);
    text-shadow: 1px 1px 4px #000000db;
}

.easy {
    background: linear-gradient(0deg,rgba(9, 174, 95, 1) 0%, rgb(16, 195, 111) 100%);
    color: #fff !important;
}