.card {
    /* border: 1px solid black; */
    text-decoration: none;
    background-color: #fff;
    flex-direction: column;

    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;

    border-radius: 7px;
}

.img-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border: 1px solid rgba(2, 0, 6, 0.852);
    border-radius: 7px;

    width: 100%;
}

#capa {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#capa {
    border-radius: 4px;
    transition: transform 0.3s ease;
    will-change: transform;
}

.resposta-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(2, 0, 6, 0.852);
    backdrop-filter: blur(30px);
    color: white;
    padding: 1rem;
    border-radius: 4px;
    font-size: large;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    text-shadow: 0px 2px 3px rgb(0, 0, 0);
}

.card-hover:hover {
    transform: translateY(-5px);
}

.heart {
    width: 1.2rem;
    margin: 0 2px;
}

.card a {
    color: #000615;
    font-size: 1.4rem;
    margin: 0;
    margin-inline: 2px;
}

.list-group-item {
    border: none;
}

@media (pointer: coarse) {
    .card-hover:hover {
        transform: none;
    }
}

