.modal .modal-dialog .modal-content {
    background-color: #fff;
    box-shadow: 0 3px 10px 0 rgb(0, 0, 0);
    flex-direction: column;

    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;

    border: 1px rgb(28, 28, 28)solid;
    box-shadow:
        inset 0px 1px 0px 0px rgb(171, 171, 171),
        0px 3px 0px 0px rgba(2, 0, 6, 0.852);

    border-radius: 7px;
}

.modal {
    background-color: #00000081;
}