.tom-select .ts-control {
    background-color: transparent;

    color-scheme: only light;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    background-color: transparent;
    border: 2px rgba(0, 0, 0, 0.6)solid;
    border-radius: 7px;
}

.tom-select.open .ts-control {
    border-color: black;
}

.tom-select .ts-dropdown {
    background-color: white;
    margin: 0;
}

.tom-select .option {
    padding: 8px 12px;
    color: black;
    cursor: pointer;
}

.tom-select .option:nth-child(even) {
    background-color: rgba(102, 102, 102, 0.1);
}